<h1>Word Definer Tool</h1>

<h3>Word List</h3>

<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
       <li><a href="/words/<%= word.id %>"><%= word.word_input %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are currently no words to display.</p>
<% end %>

<a href="/words/new">Add a new word</a>

<form action="/words/search" method="post">
  <div class="form-group">
    <label for="search">Search</label>
    <input id="search" name="search" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>

